<div class="row">
<div class="col-12 p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 p-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <a class="nav-item  menu-item" href="{% url 'admins' %}">Admins</a>
      <a class="nav-item  menu-item" href="#">Faculty</a>
      <a class="nav-item  menu-item" href="#">Students</a>

      <a class="nav-item  menu-item" href="{% url 'courses' %}">Courses</a>
        <a class="nav-item  menu-item" href="{% url 'classes' %}">Schedules</a>
     <a class="nav-item  menu-item bg-light " href="{% url "logout" %}">Logout</a>

    </div>
  </div>
</nav>
        </div>
    </div>