{% extends "common.html" %}
{%  load static %}
{% block pages %}
    {% include "admin/adminmenu.html" %}
    <div class="row  bg-light p-3">
    <div class="col-md-4">
        <h3>Admins</h3>
    </div>
    <div class="col-md-8 text-right">
    <button class="btn btn-danger " data-toggle="modal" data-target="#adminadd">Add Admin</button>
    </div>
    <div class="col-12 mt-3">
    <table class="table text-center justify-content-center table-striped table-responsive table-bordered" align="center">
    <thead>
    <th>S.No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Creation Date</th>
    <th>Operations</th>
    </thead>
    <tbody>
    {% for x in data %}

        <td>{{ forloop.counter }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.contact_no }}</td>
        <td>{{ x.creation_date }}</td>
        <td class="d-flex justify-content-center">
        <a href="#" class="w-50"><img src="{% static "images/edit.png" %}" width="30" ></a>
        <a href="#" class="w-50"><img src="{% static "images/delete.png" %}"  width="30"></a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    </div>
    </div>

    <div class="modal fade border" id="adminadd" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content container py-5 px-lg-5 px-sm-3">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-info">Create Admin</h3>
        <form action="{% url "addadmin" %}" method="post" id="adminform">
{#            {% csrf_token %}#}
            {{ form.as_p }}
            <input type="submit" name="submit" class="btn btn-info">
        </form>
        <div id="errordata" class="text-danger"></div>
    </div>
  </div>
    </div>
{% endblock %}